<div id="logo">
  <div style="margin-top:70px" class="whitetitle">RedTie</div>
</div>
<div id="topheader">
  <div align="left" class="bodytext">
    <br />
    <strong>Your Company Name</strong><br />
    Evergreen Terrace 742<br />
    Kansas Missouri<br />
    Phone: 432-653-3121<br />
    sales@thetiecompany.com
  </div>
  <div id="toplinks" class="smallgraytext">
  </div>
</div>
<div id="menu">
  <div align="right" class="smallwhitetext" style="padding:9px;">
    <a [routerLink]="['']">Home</a> | <a [routerLink]="['/students']">Students</a> | <a [routerLink]="['/departments']">Departments</a><br><br>
  </div>
</div>
<div id="submenu">
</div>
